#login h1 a,
.login h1 a {
    height: 80px;
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.login #backtoblog,
.login #nav {
    font-size: 13px;
    padding: 0 0 0;
}

.login form .forgetmenot {
    font-weight: 400;
    float: unset;
    margin-bottom: 0;
}

#login form p.submit {
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.login .button-primary {
    float: unset;
}

.login label,
.login #backtoblog a,
.login #nav a {
    text-decoration: none;
    color: #2b2b2b;
}

body {
    background: #F2F2F2 !important;
    min-width: 0;
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4;
}

a:active,
a:hover,
.privacy-policy-link {
    color: #2b2b2b;
}

.login #login_error,
.login .message,
.login .success {
    border: 0 !important
}

#wp-auth-check-wrap #wp-auth-check {
    position: fixed;
    left: 50%;
    overflow: hidden;
    top: 40px;
    bottom: 20px;
    max-height: 415px;
    width: 380px;
    margin: 0 0 0 -190px;
    padding: 30px 0 0;
    background: #000 !important;
    z-index: 1000011;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}

.wp-core-ui .button-primary {
    background: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
    color: brown;
    text-decoration: none;
    text-shadow: none;
}

.login .button.wp-hide-pw .dashicons {
    color: #2b2b2b;
}

.login form .input,
.login input[type=password],
.login input[type=text] {
    font-size: 24px;
    line-height: 1.33333333;
    width: 100%;
    border-width: .0625rem;
    padding: .1875rem .3125rem;
    margin: 0 6px 16px 0;
    min-height: 40px;
    max-height: none;
    border-radius: 0;
}

#wp-auth-check-wrap #wp-auth-check {
    position: fixed;
    left: 50%;
    overflow: hidden;
    top: 40px;
    bottom: 20px;
    max-height: 415px;
    width: 380px;
    margin: 0 0 0 -190px;
    padding: 30px 0 0;
    background-color: #F2F2F2 !important;
    z-index: 1000011;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
}

#wp-auth-check-wrap .wp-auth-check-close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 22px;
    width: 22px;
    color: #2b2b2b;
    text-decoration: none;
    text-align: center;
}

#wp-submit,
.language-switcher .button {
    color: #fff !important;
    background-color: #2b2b2b;
    outline: 0 !important;
    border: 1px solid #fff;
    transition: 0.5s ease-in;
}

a:focus {
    outline: none !important;
    box-shadow: unset !important;
}

@media(min-width:767px) {
    #login {
        width: 30%;
        padding: 24px 0% 0;
        margin: 0 10% 0;
    }

    .language-switcher {
        width: 30%;
        margin: 0 10% 0;
    }

    .login {
        position: relative;
    }

    .login::before {
        position: fixed;
        content: '';
        top: 0;
        right: 0;
        width: 50%;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .login {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #login h1,
    #login #loginform,
    #login #login_error,
    #login .message,
    #login .success,
    #login #nav,
    #login #backtoblog,
    #language-switcher {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}